services:
  backend:
    build: .
    container_name: dice-betting-app
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=${NODE_ENV}
      - DB_HOST=${POSTGRES_DB_HOST}
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_NAME=${POSTGRES_DB}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:18.0
    container_name: postgres_database
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4:9
    container_name: pgadmin_util
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - postgres

  redis:
    image: redis:8.2.2-alpine
    container_name: redis_database
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data

volumes:
  db-data:
  pgadmin-data:
  redis-data:
